* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-bottom: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  //background-color: $uoc-bg;
  //color: $uoc-corporate;
}

.carnaval-container {
  width: 65%;
  margin: auto;
}

.nav_detalle{
  position: relative;
  flex: auto;
}

.intro_pagina {
  background-color: $color-cabecera;
  border-bottom: 1px solid #aaa;
  margin: auto;
  padding: 1rem 5% 2rem;
  display: flex;
}

.accesos_nav {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
  font-weight: 700;
  font-size: 1.1rem;
  padding-inline-start: 0;
}

.item_menu {
  color: #333;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

.li_menu {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

header {
  padding: 20px 20px 0 20px;
  width: 100%;
}

.active {
  font-size: 1.2rem;
  text-decoration: underline;
}

.resaltar {
  font-size: larger;
  font-weight: bold;
}

.imagen {
  display: inline-block;
}

.imagen img {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 100%;
}

.img_link img {
  max-width: 50%;
  height: auto;
}

.img-link {
  display: inline-block;
}

@media (max-width: 820px) {
  header {
    flex: 1;
    padding: 0;
  }
  .li_menu {
    display: list-item;
  }

  .imagen img {
    width: 100%;
  }
  .title{
    line-height: 2rem;
  }
  .nav_detalle {
    flex: 4;
  }
  .intro_pagina * {
    text-align: center;
    display: block;
  }
}
