* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-bottom: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  //background-color: $uoc-bg;
  //color: $uoc-corporate;
}

.block--carnaval {
  width: 65%;
  margin: auto;
}

.nav--detalle{
  position: relative;
  flex: auto;
}

.block--intro-pagina {
  background-color: $color-cabecera;
  border-bottom: 1px solid #aaa;
  margin: auto;
  padding: 1rem 5% 2rem;
  display: flex;
}

.ul--accesos-nav {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
  font-weight: 700;
  font-size: 1.1rem;
  padding-inline-start: 0;
}

.ahref--item-menu {
  color: #333;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

.li--menu {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

header {
  padding: 20px 20px 0 20px;
  width: 100%;
}

.li--active {
  font-size: 1.2rem;
  text-decoration: underline;
}

.span--resaltar {
  font-size: larger;
  font-weight: bold;
}

.figure--imagen {
  display: inline-block;
}

.figure--imagen img {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 100%;
}

.ahref-img-link img {
  max-width: 50%;
  height: auto;
}

.ahref--img-link {
  display: inline-block;
}

.block--modalidad{
  padding: 5px;
}

.block--coro{
  background-color: $color-coro;
}

.block--comparsa{
  background-color: $color-comparsa;
}

.block--chirigota{
  background-color: $color-chirigota;
}

.block--cuarteto{
  background-color: $color-cuarteto;
}

@media (max-width: 820px) {
  header {
    flex: 1;
    padding: 0;
  }
  .li--menu {
    display: list-item;
  }

  .figure--imagen img {
    width: 100%;
  }
  .hh1--title-large {
    line-height: 2rem ;
  }
  .nav--detalle {
    flex: 4;
  }
  .block--intro-pagina * {
    text-align: center;
    display: block;
  }
}
